<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <p>Welcome {{ request.user.username }}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' }">Login</a>
    {% endif %}
    <h1>Task List</h1>
    <a href="{% url 'task-create' %}">Add task</a>
    <table>
        <tr>
                <th>Task</th>
                <th></th>
        </tr>
        {% for task_list in object_list %}
        <tr>
            <td>{{ task_list.title }}</td>
            <td><a href="{% url 'task' task_list.id %}">View</a></td>
            <td><a href="{% url 'task-update' task_list.id %}">Update</a></td>
            <td><a href="{% url 'task-delete' task_list.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h4>No Items in the list</h4>
        {% endfor %}
    </table>
</body>
</html>